.form-group {
    display: block;
    width: 100%;

    input, label {
        display: block;
    }

    label{
        text-align: left;
        margin-bottom: 12px;
    }
}

.form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}