input:not(input[type=radio]), button, a.btn {
    padding:5px;
    font-size: 12px;
    border-radius: 0px;
    border: 1px solid #333;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
}

a.btn {
    display: inline-block;
    text-decoration: none;
}